<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home page</h1>
    <h3><%= 1+2 %></h3>
    <h2>[1,2,34,]</h2>
    <h3><%= "naseer".toUpperCase()%></h3>
    <h3><%=" [1,2,3,4]"%></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis officia quos facere maiores, atque doloremque cum dolorem dolores repudiandae quibusdam non debitis odio cupiditate nihil, sapiente eaque sunt qui optio?</p>
    <button>Click me</button>
</body>
</html>